/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body {padding: 0; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.card {
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: box-shadow .3s;
    background-color: #EDEDED;
    background: linear-gradient(
        #F7F7F7, rgba(237, 237, 237, 0.582) 50%, #65717D 75%, #343a40
  );
  /* 65717D */
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
}

/* .card:hover {
    background: #EDEDED;
	
} */

.list-group-item:hover {
    background: #F7F7F7;
}

.container_fluid {
    margin-left: 40px;
    margin-right: 40px;
}

.text-jumbo {
    font-size: 2rem !important;
    font-weight: bold !important;
}

.gap-20 {
    margin-left: 20px;
}

.gap-10 {
    margin-left: 10px;
}

.gap-5 {
    margin-left: 5px;
    
}

.nav-div {
    float: left;
}

.inner-item {
    padding: 0;
}

.material-icons {
    line-height: 0.8;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.jumbotron {
    background-color: rgba(173, 129, 255, 0.507);
}

.right-img {
    float: right;
    margin-right: 15px;
}

.jumbotron-fluid {
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .right-img {
        float: left !important;
    }
}

li, ol {
    list-style: none;
}

.add-tab {
    padding: 5px !important;
    margin: 0 !important;   
}

.about-title {
    padding: 20px;
    padding-bottom: 0 !important;
    margin-left: 20px !important;
    font-size: 1.8rem !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

.map {
    padding: 10px;
    padding-top: 0 !important;
    margin-left: 100px;
}

.text-area {
    width: 500px;
}

.highlight {
    background-position: 100% 100%;
    box-shadow: 0 0 11px rgba(24, 24, 24, 0.205);
    z-index: 5;
    transform: scale(1.1);
    color: white;
}
