<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand gap-20" href="#">        
        <img src="/assets/images/logo.png" width="55" height="45" alt="" loading="lazy">
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link zoom material-icons md-light" routerLink='/home' routerLinkActive="active">home</a>
            <a class="nav-item nav-link" routerLink='/home'>Home</a>
            <a class="nav-link zoom material-icons md-light" routerLink='/menu' routerLinkActive="active">menu</a>
            <a class="nav-item nav-link" routerLink='/menu'>Menu</a>
            <a class="nav-link zoom material-icons md-light" routerLink='/about' routerLinkActive="active">priority_high</a>
            <a class="nav-item nav-link" routerLink='/about'>About</a>
            <a class="nav-link zoom material-icons md-light" routerLink='/contact' routerLinkActive="active">contacts</a>
            <a class="nav-item nav-link" routerLink='/contact'>Contact</a>
        </div>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="openLoginForm()" type="submit">Login</button>    
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container_fluid">
        <div class="row">
            <div class="col-md-6">
                 <h1 class="text-jumbo">
                Ristoante Con Fusion
            </h1>
            <p>
                We take inspiration from the World's best cuisines, and create a<br> 
                unique fusion experience, Our lipsmacking creations will tickle <br>
                your culinary senses! 
            </p> 

            </div>
            <div class="col-md-6">
                <span>
                    <img class="right-img" src="/assets/images/logo.png" width="120" height="100" alt="" loading="lazy">
                </span>
            </div>
        </div>
    </div>
</div>


            