body{
	width: 100%;
	background: #FBFBFB;
	padding: 0;
	margin: 0;
}

.container{
	margin-right: 0;
	margin-left: 20px; 
}

/* HOME PAGE */

#header-nav{
	background: #EDEDED;
	border: 0;
	border-radius: 0;
}

.container .navbar-header{
	padding: 5px;
}

.navbar-header span {
	font-size: 2.2em;
	font-family: 'Baloo Paaji 2', cursive;
	float: left;
	text-shadow: 2px 2px 8px #FFFFFF;
}

#our-menu {
	padding: 25px;
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 1.8em;
}

.row{
	margin-left: 40px;
	margin-right: 40px;
}

section{
	padding: 10px;
	background: #EDEDED;
	margin-bottom: 20px;
}

#Chicken h4{
	text-align: center;
	font-family: 'Baloo Paaji 2', cursive;
	padding: 5px;
}

#Beef h4{
	text-align: center;
	font-family: 'Baloo Paaji 2', cursive;
	padding: 5px;
}

#Sushi h4{
	text-align: center;
	font-family: 'Baloo Paaji 2', cursive;
	padding: 5px;
}

#Chicken p{
	overflow: auto;
}