hr{
    width: 95%;
    position: relative;
    height: 0,5px;
    background: black;
    border-radius: 8px;
}

.material-icons {
    font-size: 16px !important;
    margin-right: 8px !important;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.container-form{
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
    display: block;
}

.address{
    padding: 20px;
    width: 100% !important;
}

.row{
    padding: 20px;
    width: 50%;
}