<h1 class="about-title">
    About  -
</h1>
<hr>

<h2>Our History</h2>

<div class="container-fluid">
    <div class="row">
    <div class="media">
        <div class="media-body">
            <p>Started in 2010, Ristorante con Fusion quickly established itself as a 
                culinary icon par excellence in Hong Kong. With its unique brand of world 
                fusion cuisine that can be found nowhere else, it enjoys patronage from the 
                A-list clientele in Hong Kong.  Featuring four of the best three-star 
                Michelin chefs in the world, you never know what will arrive on your 
                plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>
                    , a successful chain started by our CEO, Mr. Peter Pan, that featured
                     for the first time the world's best cuisines in a pan.</p>
        </div>

        <div class="card ml-3">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <ul>
                    <li>
                        <dt>Started</dt>
                        <dd>3 Feb, 2013</dd>
                        <dt>Major Stake Holder</dt>
                        <dd>HK, Fine Foods Inc.</dd>
                        <dt>Last Year's Turnover</dt>
                        <dt>$1,250,375</dt>
                        <dd>Employees</dd>
                        <dt>40</dt>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

    <div class="card quote">
        <h3>You better cut the pizza in four pieces because
            I'm not hungry enough to eat six.</h3>
            <div class="card-body card-text">
                <p>-- Yogi Berra, <cite>The Wit and Wisdom of Yogi Berra,
                    P. Pepe, Diversion Books, 2014</cite></p>
            </div>
    </div> 

    <div class="row">   
        <h2>Corporate Leadership</h2>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <ul *ngFor = "let lead of Leaders">
                    <li>
                        <img src="{{lead.image}}" class="mr-3" alt="{{lead.name}}">
                        <h3 class="mt-0">{{lead.name}}</h3>
                        <p>{{lead.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
