<div id="footer" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h2>Links -</h2>
                <ul>
                    <li>Home</li>
                    <li>Menu</li>
                    <li>About</li>
                    <li>Contact</li>                
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Our Address -</h2>
                <ul>
                    <li class="add-tab">121, Clear water
                        Bay Road <br>
                        Clear Water Bay, Kowloon <br>
                        HONG KONG.                         
                    </li>
                    <li class="add-tab"><i class="material-icons">call</i>: +862 1234 5678</li>
                    <li class="add-tab"><i class="material-icons">call</i>: +862 8765 4321</li>
                    <li class="add-tab"><i class="material-icons">email</i>: confusion@fool.net</li>
                </ul>
            </div>
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>